<section>
  <div class="container mb-5">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
      <div class="carousel-inner">
        <ng-container *ngFor="let img of slideImages; let i = index">
          <div class="carousel-item" [ngClass]="{'active': i === 0}">
            <img [src]="img.imgSrc" class="d-block w-100">
          </div>
        </ng-container>
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>
