.tab-content {
  display: none;
}

.card {
  height: 20rem !important;
}

.img_height {
  height: 10rem !important;
}

.fixed_image {
  height: 10.7rem !important;
  width: 100% !important;
}

.hover-tab:hover+.tab-content {
  display: block;
}

.custom-carousel-indicators {
  text-align: center;
  list-style: none;
  padding: 0;
}

.custom-carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.7;
}

.custom-carousel-indicators .active {
  opacity: 1;
}

::ng-deep .owl-prev {
  position: absolute;
  top: -40px !important;
  right: 35px;
}

::ng-deep .owl-next {
  position: absolute;
  top: -40px;
  right: 0;
}
